<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Simulink.presentation.SimulinkModelWizardID"
            name="%_UI_SimulinkModelWizard_label"
            class="Simulink.presentation.SimulinkModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimulinkModelFile.gif">
         <description>%_UI_SimulinkModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="Simulink.presentation.SimulinkEditorID"
            name="%_UI_SimulinkEditor_label"
            icon="icons/full/obj16/SimulinkModelFile.gif"
            extensions="simulink"
            class="Simulink.presentation.SimulinkEditor"
            contributorClass="Simulink.presentation.SimulinkActionBarContributor">
      </editor>
   </extension>

</plugin>
